.about {
  display: flex;
  align-items: center;

  .about-inner {
    display: flex;
    justify-content: space-around;
  }

  .photo {
    display: flex;
    align-items: center;
    width: 30%;
    overflow: hidden;
    img {
      border-radius: 5%;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    font-size: 20px;
  }
}