#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  background: #000;
  font-size: 30px;

  ul {
    color: #fff;
    padding: 0;
    margin: 0 0 0 -20vw;
  }
  li {
    @extend %listreset;
    padding: 2.5vh 10px;
  }
}