// This is base reset for global components.
//
// Note: If you use a framework that includes base styling then you need to remove this file.

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
  margin: 0;
  font: 16px 'elmessiri';
  line-height: 1.5;
  min-width: 320px;
  font-weight: 300;
  color: #222;
}

button {
  margin: 0;
  font: 16px/1.5 'elmessiri';
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {max-width: none;}

// hide tel links on desktop
@media only screen and (min-width: 1025px) {
    a[href^="tel"], a[href^="skype"], a[href^="sms"] {
    cursor: default;
    pointer-events: none;
  }
}